
<p>History:</p>
<p>filter by operation: <a href="/Home/History?filter=%2B">addition</a> <a href="/Home/History?filter=-">subtraction</a> <a href="/Home/History?filter=*">multiplication</a> <a href="/Home/History?filter=/">division</a> <a href="/Home/History">all</a></p>
<table>
@foreach (var entry in ViewBag.History)
{
    <tr>
        <td>@entry[0]</td>
        <td>=</td>
        <td>@entry[1]</td>
    </tr>
}
</table>